// html {
//     height: 100%;
//     border: 1px solid blue;
// }

// body {
//     height: 100%;
//     border: 1px solid red;
// }

.app-container {
    margin: 0 auto;
    width: 400px;
    border: 1px solid #ccc;
    .title {
        padding: 20px;
        font-size: 20px;
        // border: 1px solid green;
    }
    .form-container {
        display: flex;
        margin: 0 20px 20px 20px;
        // border: 1px solid blue;
        .input-to-do {
            flex: 1;
            padding: 0 0 0 5px;
            height: 30px;
            border: 1px solid #ccc;
            border-width: 1px 0 1px 1px;
        }
        .btn-to-do {
            width: 60px;
            background: lightblue;
            border: 1px solid #ccc;
        }
    }
    .list-container {
        margin: 0 20px 20px 20px;
        border: 1px solid red;
        .to-do-list {
            margin: 0;
            border: 1px solid green;
            counter-reset: to-do-counter;
            .to-do-container {
                display: flex;
                flex-wrap: wrap;
                // justify-content: center;
                // align-items: center;
                border: 1px solid blue;
            }
            .to-do {
                display: flex;
                flex: 1;
                line-height: 30px;
                white-space: nowrap;
                // text-overflow: ellipsis;
                overflow: hidden;
                border: 1px solid red;
                &:before {
                    content: counter(to-do-counter);
                    counter-increment: to-do-counter;
                    display: flex;
                    flex: none;
                    justify-content: center;
                    align-content: center;
                    height: 30px;
                    width: 30px;
                    border: 1px solid red;
                }
            }
            .remove {
                width: 30px;
                line-height: 30px;
                text-align: center;
                border: 1px solid green;
            }
            .drop-down-btn {
                width: 30px;
                line-height: 30px;
                text-align: center;
                border: 1px solid green;
            }
            .drop-down-list {
                padding: 15px 0;
                width: 100%;
                border: 1px solid blue;
            }
            .description {
                
            }
        }
    }
    .error {
        &::placeholder {
            color: red;  
        }
    }
}